html,body {
	padding: 0;
	margin: 0;
}
body {
	background-color: #FFF;
	font-family: sans;
}
h1 {
	margin: 1em auto;
	max-width: 20em;
	font-size: 2em;
	background-color: #EEE;
	font-weight: normal;
	padding:0.1em 0;
}
h2 {
	padding:0.1em 0;
	margin: 1em auto;
	max-width: 26.67em;
	font-size: 1.5em;
	background-color: #DDD;
	font-weight: normal;
}
p {
	max-width: 40em;
	text-align: justify;
	margin: 1em auto;
	font-size:1em;
}
button,input,select {
	cursor: pointer;
}
pre {
	max-width: 36em;
	text-align: justify;
	margin: 1em auto;
	font-size: 1em;
	font-family: sans;
	background-color: #DDD;
	padding: 2em;
	line-height: 1.7em;
	letter-spacing: 0.3em;
}

